<% include ../include/head %>
<div class="container">
    <form id="defaultForm" novalidate="novalidate" class="form-horizontal bv-form" action="/users/login" method="post">
        <div class="form-group">
            <label class="col-lg-3 control-label">用户名</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="username" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-3 control-label">密码</label>
            <div class="col-lg-5">
                <input type="password" class="form-control" name="password" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button type="submit" class="btn btn-primary" name="signup" value="登录">登录</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        var oForm = $('#defaultForm');
        oForm.bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    message: '用户名无效',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        }
                    }
                },
                email: {
                    validators: {
                        emailAddress: {
                            message: '邮箱地址不合法'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        }
                    }
                }
            }
        }).on('success.form.bv',function(e){
            e.preventDefault();
            console.log(oForm.attr('action'));
            $.ajax({
                url: oForm.attr('action'),
                type: 'post',
                data: oForm.serialize(),
                dataType: 'json',
                success: function (json) {
                    if (json.status == 0) {
                        return window.location.href = '/';
                    } else {
                        alert(json.msg);
                    }
                }
            });
            return false;
        });
    });
</script>
<% include ../include/foot %>